@model IEnumerable<SoftUpdater.Contract.Model.Client>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.Name)</th>
            <th>@Html.DisplayNameFor(s => s.Login)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Login</td>                
                <td><a href="#" onclick="setClient(@item.Id, @item.Name);">Выбрать</a></td>
            </tr>
        }
    </tbody>
</table>
